nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c8c6b1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999; /* set nav bar to always be on top */
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid transparent; /* add a transparent border */
  transition: all 0.2s ease-in-out; /* add a transition effect */
}

nav a:hover, nav a:focus {
  background-color: #737955; /* change the background color */
  color: white; /* change the text color */
}

nav a:focus {
  outline: none; /* remove the default focus outline */
  border-color: #737955; /* add a white border */
}

/* Media queries for responsive design */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column; 
    align-items: flex-start;
    padding: 10px;
  }
  
  nav li {
    margin: 10px 0;
  }
  
  nav a {
    padding: 5px;
    font-size: 14px;
  }
}

/* main styles */
body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  color: white;
  background: #202731;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

p {
  text-align: center;
}

/* Colour scheme classes */
.go-ben {
  background: #737955;
}

.foggy-gray {
  background: #c8c6b1;
}

.livid-brown {
  background: #53242c;
}

.medium-carmine {
  background: #b2393e;
}

.chestnut-rose {
  background: #cf514a;
}

/* slide effect buttons */
.slide-button1 {
  background-color: #53242c;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;

}

.slide-button1::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
  background: #b2393e;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.slide-button1:hover::before {
  top: 0;
}

.slide-button2 {
  background-color: #b2393e;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;

}

.slide-button2::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
  background: #53242c;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.slide-button2:hover::before {
  top: 0;
}

.slide-button3 {
  background-color: #cf514a;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;

}

.slide-button3::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
  background: #53242c;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.slide-button3:hover::before {
  top: 0;
}

/* github logo */
#git-logo {
  max-width: 15px;
  margin: -1px;
}